
.App {
  margin:auto;
  text-align: center;
  height: 100%;
  font-family: 'Times New Roman', Times, serif;
}

.recipe {
  display: flex;
  justify-content: center;
  margin: auto;
  position: relative;
}

.logo {
  color: #d50000;
}

#grid {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  margin-left: 50px;
  margin-right: 50px;
}


#favGrid {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 50px;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 5%;
  height: 100%;
  min-height: 70vh;
}

table {
  vertical-align: top;
  padding: 15px;
  border-spacing: 10px;
  width: 70%;
  height: 100%;
  margin-top: 2%;
  margin-left:auto; 
  margin-right:auto;
}

tr, td, th {
  color: #d19e60;
  background-color: rgba(245, 245, 245, .5);
  height: 50px;
  border-radius: 5px;
}

form {
  text-align: center;
  color: black;
}

#grid > div {
  font-size: 2vw;
  padding: 10px;
}

#mainHeader {
  color: whitesmoke;
  font-size: 60px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}


.input {
  background-color: white;
  width: 55%;
  border: none;
  border-bottom: 1px solid #d50000;
  text-align: left;
  font-size: calc(5px + 2vmin);
  color: #d50000;
}

input:focus {
  border: none;
  border-bottom: 2px solid #d50000;
  outline-offset: 0px;
  outline: none;
}

.backgroundImage {

  height: 500px;
  width: 100%;
}

.favbackgroundImage {
  height: 300px;
  width: 100%;

}

.App-sub-header {
  text-align: center;
  font-size: calc(20px + 2vmin);
  color: #bb0303;
  font-family: 'Times New Roman', Times, serif;
  font-style: normal;
}




